{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <h1>Welcome to the meeting planner!</h1>
    <p>
        This is a demo Application
        <em>Django: Getting Started</em>
        on <a href="https://www.pluralsight.com">Pluralsight</a>
    </p>

    <h2>
        Meetings
    </h2>
<ul>
    {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </li>

    {% endfor %}
</ul>

<a href="{% url 'rooms' %}">
    Rooms
</a>
<div></div>

{% endblock  %}